 body {
     background: url(../Images/Panda-bg.jpg);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
 }

 header {
     background-color: black;
     padding: 5px;
 }
#logo-img{
    width : 50px;
}
.menu{
    color: aliceblue;
    font-size: 1.2rem;
}
 #login-area {
     width: 40%;
     border: solid 2px white;
     background-color: rgba(37, 37, 37, 0.418);
     padding: 10px;
     margin: 0;
     position: absolute;
     /* Vertically centered */
     top: 40%;
     transform: translateY(-40%);
     /* Horizontally Centered */
     left : 50%;
     transform : translateX(-50%);

 }
 .submit-area{
    width : 85%;
 }

 .input {
     margin: 25px;
 }